[submodule "www/phpcs"]
	path = www/phpcs
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "www/wordpress-default/wp-content/plugins/ninja-forms"]
	path = www/wordpress-default/wp-content/plugins/ninja-forms
	url = https://github.com/wpninjas/ninja-forms
[submodule "www/wordpress-default/wp-content/plugins/simple-membership"]
	path = www/wordpress-default/wp-content/plugins/simple-membership
	url = https://github.com/tu-software-studio/simple-membership/
[submodule "www/wordpress-default/wp-content/plugins/simple-membership-mailchimp-integration"]
	path = www/wordpress-default/wp-content/plugins/simple-membership-mailchimp-integration
	url = https://github.com/tu-software-studio/simple-membership-mailchimp-integration
[submodule "www/wordpress-default/wp-content/plugins/simple-membership-after-login-redirection"]
	path = www/wordpress-default/wp-content/plugins/simple-membership-after-login-redirection
	url = https://github.com/tu-software-studio/simple-membership-after-login-redirection/
[submodule "www/wp-cli"]
	path = www/wp-cli
	url = https://github.com/wp-cli/wp-cli.git
