[submodule "www/phpcs"]
	path = www/phpcs
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "www/wordpress-default/wp-content/plugins/ninja-forms"]
	path = www/wordpress-default/wp-content/plugins/ninja-forms
	url = https://github.com/wpninjas/ninja-forms
[submodule "www/wordpress-default/wp-content/plugins/simple-membership"]
	path = www/wordpress-default/wp-content/plugins/simple-membership
	url = https://github.com/tu-software-studio/simple-membership/
