/*  Media Queries
--------------------------- */
/* Smaller than standard 1200 (devices and browsers) */

@media only screen and (max-width:1149px){
  .sidebar-header-right {
      text-align: right;
      width: 60%;
  }
  .site-branding {
      width: 40%;
  }
  #header-search-form {
      margin-left: 0;
  }
  #site-navigation ul li a {
      font-size: 14px;
      padding: 10px 28px;

  }
  #site-navigation{
    min-height: inherit;
  }
  #site-navigation ul li.menu-item-has-children > a:after {
      top: 5px;
  }



/*latest news widgets*/

  .latest-news-widget .col-sm-2,
  .latest-news-widget .col-sm-5ths {
      width: 33.3%;
  }

  div.latest-news-widget div.latest-news-item:after {
      background-size: 100% 30px;
      bottom: -36px;
      height: 30px;
  }
  .col-sm-3 .latest-news-item .latest-news-meta {
      font-size: 14px;

  }
  .col-sm-3 .latest-news-item .latest-news-meta span{
    float: left;
  }
  .col-sm-5ths .latest-news-meta > span {
      display: block;
  }
  .col-sm-4 .latest-news-meta > span.latest-news-comments {
      float: right;
  }
  .sidebar .advanced-recent-posts-thumb{
      float: none;
      display: block;
      width: 100%;
      margin: 0 auto 15px;
  }
   .sidebar .advanced-recent-posts-thumb img{
      width: auto;
      float: none;
      display: block;
      margin:0 auto;
   }
    #site-navigation ul ul ,#site-navigation.fixed ul ul{
        top:45px;
    }
    .cta-button.cta-button-primary {
        margin: 0 auto;
        width: auto;
    }
    #site-navigation ul li.menu-item-has-children > a:after,
    #site-navigation ul li.page_item_has_children > a:after{
      top: 7px;
    }
    .site-layout-boxed #site-navigation ul ul {
      top: 51px;
  }

}
/* Smaller than standard 1024 (devices and browsers) */
@media only screen and (max-width:1140px){
  .site-layout-boxed #site-navigation.fixed .container,
  .container {
    margin: 0 auto;
    width: 95%;
  }

}
/* Tablet Portrait size to standard 1024 (devices and browsers) */
@media only screen and (max-width:1023px) and (min-width:768px){}
/* Smaller than standard 991 (devices and browsers) */
@media only screen and (max-width:1023px){
  #site-navigation:after{
    display: none;
  }
  #site-navigation ul li a {
      font-size: 14px;
      padding: 10px 16px;
  }
  #featured-slider .cycle-caption p {
      font-size: 15px;
  }
  #featured-slider .cycle-caption h3 {
    font-size: 21px;
   }
   #featured-slider .cycle-prev{
    left: 5px;
   }
  #featured-slider .cycle-next{
    right: 5px;
   }

  #featured-slider .cycle-prev:after, #featured-slider .cycle-next:after {
      font-size: 32px;
  }
  #featured-slider .cycle-prev, #featured-slider .cycle-next{
    width: 40px;
    height: 40px;
    bottom: 43%;
  }
  .service-block-item .fa {
    margin-bottom: 5px;
    }
  .col-sm-4 .service-block-inner-content {
      padding-left: 0;
  }
  .service-block-inner-content {
      padding-left: 0;
  }
 
  .widget-subtitle {
      font-size: 18px;
  }
  .widget-title{
    font-size: 22px;
    font-weight: bold;
  }

  #sidebar-front-page-lower-left .cta-button.cta-button-primary {
      margin: 0 auto;
      max-width: 200px;
  }


  .advanced-recent-posts-widget img {
      margin-right: 16px;
      max-width: 77px !important;
  }
  .advanced-recent-posts-text-wrap {
      padding-left: 0;
  }
  .partners-summary {
    display: block;
    line-height: 1.3;
  }
  .partners-text-wrap {
      padding-left: 0;
  }
  .partners-item img {
      margin: 0 15px 5px 0;
  }
  #colophon .col-sm-6 {
      text-align: center;
      width: 100%;
  }
  .partners-thumb {
      float: left;
      margin-bottom: 0;
      margin-right: 0;
  }
  .site-info {
      text-align: center;
  }
   .service-block-item.col-sm-3 .fa{
      display: inline-block;
      /*float: none;*/
      /*height: 120px;*/
      margin: 0 auto 5px;
      /*padding: 35px 0;*/
      text-align: center;
      /*width: 120px;*/
  }
 .partners-item.col-sm-3 img,
 .partners-item.col-sm-5ths img,
  .partners-item.col-sm-2 img{
    width: auto;
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  .partners-thumb{
    width: auto;
    display: block;
    float: none;
    margin-bottom: 15px;
  }
  .partners-item.col-sm-5ths,.partners-item.col-sm-2,.partners-item.col-sm-3 {
    width:50%;
  }
  .col-sm-5ths .partners-thumb, .col-sm-2 .partners-thumb,.col-sm-3 .partners-thumb{
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .sidebar .widget{
    padding: 10px;
  }

    .col-sm-6 .latest-news-title,
  .col-sm-6 .latest-news-meta,
  .col-sm-3 .latest-news-title,
  .col-sm-3 .latest-news-meta,
  .col-sm-4 .latest-news-title,
  .col-sm-4 .latest-news-meta{
    margin-bottom:15px;
  }


  .latest-news-meta > span{
    float: left;
  }
  .latest-news-summary {
      font-size: 15px;
  }
  .latest-news-widget .col-sm-3,
  .latest-news-widget .col-sm-2,
  .latest-news-widget .col-sm-5ths {
      width: 33.3%;
  }
  .sidebar .cta-button.cta-button-primary {
      width: auto;
  }
  .sidebar .latest-news-text-wrap{
    padding: 0;
  }
  #sidebar-front-page-bottom {
    padding-top: 20px;
  }


}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px){

  #wpadminbar {
    position: absolute;
    top: -47px;
  }
  body{
    padding-top: 0;
  }
  header .site-branding{
    width: 100%;
    text-align: center;
  }
  .sidebar-header-right{
    width: 100%;
    text-align: center;
    float: none;
    display: inline-block;
  }
  .sidebar-header-right .fa.fa-search{
    float: none;
  }
  #header-search-form {
      margin-top: 15px;
      width: 100%;
      z-index: 999;
  }
  #searchform{
    max-width: 100%;
  }


  .global-layout-left-sidebar #primary{
    float: none;
    overflow: hidden;
  }
  .global-layout-left-sidebar #sidebar-primary, .global-layout-right-sidebar #sidebar-primary{
    clear: both;
  }
  .global-layout-right-sidebar #primary{
    overflow: hidden;
  }
  .global-layout-three-columns #primary{
    display: block;
  }
  .global-layout-three-columns #sidebar-secondary{
    float: none;
  }
  .latest-news-thumb img{
    width: auto;
  }
  #sidebar-primary, #sidebar-secondary{
    margin-top: 20px;
  }
  .global-layout-three-columns #sidebar-primary{
    float: none;
  }
  .comment-form input[type="text"]{
    margin-top: 20px;
  }
  #mobile-trigger {
      display: block;
      margin-left: 10px;
      margin-top: 10px;
      width: 30px;
  }
   #mobile-trigger .fa.fa-bars {
      color: #ff794c;
      font-size: 30px;
  }
  #site-navigation{
    display: none;
  }
  h2.site-description {
      text-align: center;
  }
  .site-header{
    padding-top: 0;
  }
  #masthead .wen_associate_widget_social li:first-child a{
    margin-left: 0;
  }
  #featured-slider .cycle-caption {
      background-color: rgba(0, 0, 0, 0.13);
      left: 13%;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 27px;
      width: 74%;
      z-index: 999;
  }
  #featured-slider .cycle-caption h3{
    font-size: 15px;
  }
  .site-layout-boxed #site-navigation.fixed .container,
  .container{
    width: 100%;
  }
   .service-block-item.col-sm-3 .fa {
    display: inline-block;
    float: none;
    /*height: 100px;*/
    margin: 0 20px 15px 0;
    /*padding: 35px 0;*/
    text-align: center;
    /*width: 100px;*/
  }
  .col-sm-3 .partners-thumb{
    float: left;
    margin-right: 15px;
  }
  .partners-item.col-sm-5ths,.partners-item.col-sm-2,.partners-item.col-sm-3 {
    width:100%;
  }
  .col-sm-5ths .partners-thumb, .col-sm-2 .partners-thumb,.col-sm-3 .partners-thumb{
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
  }
    .sidebar .widget{
    padding: 20px;
  }
  .search-btn-wrap {
    display: inline-block;
    float: none;
  }

  .latest-news-widget .col-sm-3,
  .latest-news-widget .col-sm-2,
  .latest-news-widget .col-sm-5ths,
  #primary .latest-news-widget .row > div {
      width: 50%;
      clear: inherit;
      float: left;
  }
  .sidebar-header-right {
    margin-bottom: 15px;
    margin-top: 10px;
    position: relative;
  }
  .site-header {
      margin-top: -30px;
      padding: 0;
  }
  #searchform {
    max-width: 385px;
    width: 100%;
  }
  .widget-title{
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  #content {
      margin-top: 0;
      padding-bottom: 20px;
  }
  .widget {
    margin: 0 0 15px;
  }
  .header-layout-1 .sidebar-header-right {
      margin-bottom: 15px;
      margin-top: 0;
  }
  h1.site-title {
      font-size: 34px;
      margin-bottom: 0;
}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width:767px) and (min-width:480px){}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px){
    #featured-slider .cycle-caption p{
    display: none;
  }
    .nav-links .nav-previous, .nav-links .nav-next{
    float: none;
  }
  .nav-links .nav-next{
    margin-top: 20px;
  }

  #masthead .wen_associate_widget_social li a {
      margin-left: 5px;
  }
  #featured-slider .cycle-prev, #featured-slider .cycle-next {
    bottom: 42%;
    height: 30px;
    width: 30px;
  }
  #featured-slider .cycle-prev:after, #featured-slider .cycle-next:after {
      font-size: 19px;
  }
  #featured-slider .cycle-caption h3{
    font-size: 13px;
  }
  #featured-slider .cycle-caption {
      left: 15%;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 33px;
      width: 70%;
      z-index: 999;
  }
  #featured-slider .cycle-pager{
    bottom: -3px;
  }

  .searchform {
      max-width: 100%;
      min-width: inherit;
  }
  .widget-title {
    font-size: 21px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .widget-subtitle {
      font-size: 18px;
  }


  .sidebar-header-right {
      margin: 0 0 20px;
      text-align: center;
      width: 100%;
  }
  .sidebar-header-right  .wen_associate_widget_social{
    margin: 0;
  }
  #btn-search-icon{
    margin: 0;
  }
  #header-search-form {
      bottom: -42px;
      margin-top: 15px;
      width: 100%;
  }
  .latest-news-widget .col-sm-3,
  .latest-news-widget .col-sm-2,
  .latest-news-widget .col-sm-5ths,
  #primary .latest-news-widget .row > div {
      clear: inherit;
      width: 100%;
  }
  div.latest-news-meta span.latest-news-comments {
      float: right;
  }
  #primary .latest-works-item {
      width: 50%;
  }

  .error404 #main .page-header{
    margin-bottom: 0;
  }
  .error-404 .page-title {
      font-size: 27px;
      font-weight: bold;
  }
  .text-404 {
      font-size: 79px;
  }
  #quick-links-404 ul li a {
      font-size: 15px;
      padding: 0 5px;
  }
  section.error-404 {
      padding-bottom: 20px;
  }
  #primary h3.widget-title{
    display: block;
  }
  #primary h3.widget-title span{
    width: 100%;
  }
  .sidebar-header-right {
    text-align: center;
    width: 100%;
}
}
/* Small Andriod Mobile Portrait Size ( 240 devices and browsers) */
@media only screen and (max-width:319px){

}
